@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}

.LgBtn{
  @apply btn text-sm md:text-xl bg-gradient-to-r from-blue-400 to-blue-800 border-0 duration-700 transition-all hover:bg-gradient-to-r hover:from-blue-400 hover:via-purple-700 hover:to-purple-900
}
