@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}

.LgBtn{
  @apply btn text-lg lg:text-xl bg-gradient-to-r from-blue-400 to-blue-800 border-0 duration-700 transition-all hover:bg-gradient-to-r hover:from-blue-400 hover:to-purple-800
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .error-heading {
    font-size: 4rem;
    color: #ff0000;
  }
  
  .error-message {
    font-size: 2rem;
    color: #333;
    margin-top: 2rem;
    text-align: center;
  }
  